<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OtplessSDK_Example.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>7BA3128044D9E4F9E07A872341355C14FF78D661</string>
				<key>dateExpires</key>
				<string>05/02/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>7BA3128044D9E4F9E07A872341355C14FF78D661</string>
						<key>dateExpires</key>
						<string>05/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>OtplessSDK.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>LRPGAA2922</string>
						<key>name</key>
						<string>OTPless Solutions Private Limited</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>LRPGAA2922.com.digvijayanubhav.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>LRPGAA2922</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>OtplessSDK_Example.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>41fe44c4-5167-42af-b330-b7499ebd1ff1</string>
				<key>dateExpires</key>
				<string>31/05/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>LRPGAA2922</string>
				<key>name</key>
				<string>OTPless Solutions Private Limited</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
